.navbar-dark {
    background-color: #161925;
    height: 50px;
}

.body-bg-dark {
    background-color: #20262d;
}

.navbar-nav {
    overflow: visible;
    white-space: nowrap;
    margin: 2px;
    margin-right: 200px;
}
.other-files-name{
    overflow: visible;
    white-space: nowrap;
    cursor: pointer;
    margin: 2px;
}

.container-fluid {
  margin: 0px;
  padding: 0px;
  overflow-x: scroll;
}

.container-fluid::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.container {
    display: flex;
    justify-content: center;
    width: 60%;
}

.overflow-handle {
    overflow-x: hidden;
}

.one-variable-block {
    margin: 0px 20px;
    background-color: Mediumpurple;
    color: white;
    align-content: center;
    border-radius: 10px;
    padding: 5px;
    margin: 20px;

}

.variable-text {
    margin: 5px;
    letter-spacing: 2px;
}

.block-center-rhombus-top {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.block-center-rhombus-bottom {
  display: flex;
  justify-content: center;
}

.block-center-triangle {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.if-conditional-block-triangle {
  width: 0px;
  height: 0px;
  border-style: inset;
  border-width: 0 100px 170px 100px;
  border-color: transparent transparent #90ee90 transparent;
  float: left;
}

.if-conditional-block-triangle p {
  text-align: center;
  top: 60px;
  left: -47px;
  position: relative;
  width: 93px;
  height: 93px;
  margin: 0px;
}

.if-conditional-block-rhombus{
  width: 0px;
  height: 0px;
  border-style: inset;
  border-width: 0 100px 85px 100px;
  border-color: transparent transparent #d3915f transparent;
  float: left;
}

.if-conditional-block-rhombus p {
  text-align: center;
  top: 60px;
  left: -47px;
  position: relative;
  width: 93px;
  height: 93px;
  margin: 0px;
}

.if-conditional-block-rhombus-inverted {
  width: 0px;
  height: 0px;
  border-style: inset;
  border-width: 0 100px 85px 100px;
  border-color: transparent transparent #d3915f transparent;
  transform: rotate(180deg);
  float: left;
}

.if-conditional-block-rhombus-inverted p {
  text-align: center;
  top: 0px;
  padding: 10px;
  left: -47px;
  position: relative;
  transform: rotate(180deg);
  width: 93px;
  height: 93px;
  margin: 0px;
}

.side-navigator {
  background-color: #232830;
  min-height: 100vh;
  height: 100%;
  padding: 0px;
}

.side-bar-main-body {
  background-color: #161925;
  height: 50px;
  width: 100%;
  color: #9370db;
  padding: 10px;
  font-weight: bolder;
  font-size: 25px;
}

.second-side-list{
  color:aquamarine;
  /* padding: 5px; */
  font-weight: bolder;
  font-size: 22px;
  letter-spacing: 3px;
  margin-left: 10px;
}

.third-side-list{
  color: azure;
   /* padding:10px;  */
  font-weight: bold;
  font-size: 18px;
}

.third-side-list ul p {
  margin: 5px;
  margin-left: -10px;
}