.navbar-dark {
    background-color: #161925;
    height: 50px;
}

.body-bg-dark {
    background-color: #20262d;
}

.navbar-nav {
    overflow: visible;
    white-space: nowrap;
    margin: 2px;
    margin-right: 200px;
}
.other-files-name{
    overflow: visible;
    white-space: nowrap;
    cursor: pointer;
    margin: 2px;
}

.container-fluid {
    overflow-x: scroll;
}

.container-fluid::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.container {
    display: flex;
    justify-content: center;
    width: 60%;
}

.overflow-handle {
    overflow-x: hidden;
}

.one-variable-block {
    margin: 0px 20px;
    background-color: Mediumpurple;
    color: white;
    align-content: center;
    border-radius: 10px;
    padding: 5px;
    margin: 20px;

}

.variable-type-text {
    margin: 5px;
}
.variable-name-text {
    margin: 5px;
}
.variable-symbol-text {
    margin: 5px;
}
.variable-value-text {
    margin: 5px;
}
