.navbar-dark {
    background-color: #161925;
    height: 50px;
}

.body-bg-dark {
    background-color: #20262d;
}

.navbar-nav {
    overflow: visible;
    white-space: nowrap;
    margin: 2px;
    margin-right: 200px;
}
.other-files-name{
    overflow: visible;
    white-space: nowrap;
    cursor: pointer;
    margin: 2px;
}

.container-fluid {
    overflow-x: scroll;
}

.container-fluid::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.container {
    display: flex;
    justify-content: center;
    width: 60%;
}

.overflow-handle {
    overflow-x: hidden;
}

.one-variable-block {
    margin: 0px 20px;
    background-color: Mediumpurple;
    color: white;
    align-content: center;
    border-radius: 10px;
    padding: 5px;
    margin: 20px;

}

.variable-text {
    margin: 5px;
    letter-spacing: 2px;
}

.block-center {
    display: flex;
    justify-content: center;
}

.if-conditional-block-triangle {
  width: 0px;
  height: 0px;
  border-style: inset;
  border-width: 0 100px 170px 100px;
  border-color: transparent transparent #90ee90 transparent;
  float: left;
}

.if-conditional-block-triangle p {
  text-align: center;
  top: 60px;
  left: -47px;
  position: relative;
  width: 93px;
  height: 93px;
  margin: 0px;
}

.while-loop-block-rhombus {
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: #d3915f;
    transform: rotate(45deg);
}

.while-loop-block-rhombus p {
    transform: rotate(-45deg);
    text-align: center;
    line-height: 100px;
    font-size: 12px;
    font-weight: bolder;
    position:absolute;
    white-space: nowrap;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
